
*.out

*.gz

best_worst_plots/best_worst_plot_slides.aux

best_worst_plots/best_worst_plot_slides.bbl

best_worst_plots/best_worst_plot_slides.blg

best_worst_plots/best_worst_plot_slides.nav

best_worst_plots/best_worst_plot_slides.snm

best_worst_plots/best_worst_plot_slides.tex

best_worst_plots/best_worst_plot_slides.toc

best_worst_plots/best_worst_plot_slides.vrb

best_worst_plots/best_worst_plot_notes.aux

best_worst_plots/best_worst_plot_notes.log

best_worst_plots/.Rhistory

best_worst_plots/Rmd/best_worst_plots_notes.log

best_worst_plots/Rmd/best_worst_plots_notes.pdf

best_worst_plots/Rmd/best_worst_plots_slides.pdf

best_worst_plots/Rmd/best_worst_plots_slides.tex

best_worst_plots/Rmd/best_worst_plots_slides_files/

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-10-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-11-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-12-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-15-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-17-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-18-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-19-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-20-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-21-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-22-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-23-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-24-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-4-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-5-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-6-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-7-1.pdf

best_worst_plots/best_worst_plot_slides_files/figure-beamer/unnamed-chunk-9-1.pdf

best_worst_plots/best_worst_plot_slides.log

best_worst_plots/best_worst_plot_slides.pdf

best_worst_plots/.DS_Store

.DS_Store
