
*.out

*.gz

best_worst_plots/best_worst_plot_slides.aux

best_worst_plots/best_worst_plot_slides.bbl

best_worst_plots/best_worst_plot_slides.blg

best_worst_plots/best_worst_plot_slides.nav

best_worst_plots/best_worst_plot_slides.snm

best_worst_plots/best_worst_plot_slides.tex

best_worst_plots/best_worst_plot_slides.toc

best_worst_plots/best_worst_plot_slides.vrb

best_worst_plots/best_worst_plot_notes.aux

best_worst_plots/best_worst_plot_notes.log

best_worst_plots/.Rhistory
